# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [91]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

# Tarefa 2

### 1. Crie 2 faixas de Latitude do município (munResLat) sendo uma acima e outra abaixo de -10.5 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [71]:
sinasc = sinasc_raw[['munResLat', 'IDADEMAE']].copy()

In [72]:
s = sinasc.pivot_table(values='IDADEMAE',
                     index=sinasc.munResLat,
                     aggfunc='count',
                     margins=True,
                     margins_name='Total')
s

           IDADEMAE
munResLat
-13.49976        80
-13.47656        40
-13.19503       237
-13.13056       214
-12.99752       127
-12.74137      1590
-12.55684       162
-12.43601       233
-12.17983        44
-12.13178       154
-12.0638        303
-11.93554       367
-11.91439        54
-11.90842        99
-11.82571        43
-11.76712       168
-11.72226       927
-11.72133       261
-11.70974        98
-11.69949       353
-11.67754       616
-11.52855       450
-11.43387      1374
-11.42684        32
-11.34413       205
-11.19624        84
-11.17321       304
-11.12855       170
-11.04561       164
-10.93217        64
-10.91553       104
-10.88205      2182
-10.77388       781
-10.72357       631
-10.61207       112
-10.56842       166
-10.43595       881
-10.43105        81
-10.41177       432
-10.33887        75
-10.2631        199
-10.24873        97
-10.20981       583
-9.90846       1729
-9.85139         93
-9.71667        226
-9.70554         50
-9.42556        500
-9.37819        205
-9.19187        109
-8.78502        337
-8.76889       8437
Total         27028

In [73]:
Lat = {
    -13.49976 : 'Acima de -10.5',
    -13.47656: 'Acima de -10.5',
    -13.19503: 'Acima de -10.5',
    -13.13056: 'Acima de -10.5',
    -12.99752: 'Acima de -10.5',
    -12.74137: 'Acima de -10.5',
    -12.55684: 'Acima de -10.5',
    -12.43601: 'Acima de -10.5',
    -12.17983: 'Acima de -10.5',
    -12.13178: 'Acima de -10.5',
    -12.0638: 'Acima de -10.5',
    -11.93554: 'Acima de -10.5',
    -11.91439: 'Acima de -10.5',
    -11.90842: 'Acima de -10.5',
    -11.82571: 'Acima de -10.5',
    -11.76712: 'Acima de -10.5',
    -11.72226: 'Acima de -10.5',
    -11.72133: 'Acima de -10.5',
    -11.70974: 'Acima de -10.5',
    -11.69949: 'Acima de -10.5',
    -11.67754: 'Acima de -10.5',
    -11.52855: 'Acima de -10.5',
    -11.43387: 'Acima de -10.5',
    -11.42684: 'Acima de -10.5',
    -11.34413: 'Acima de -10.5',
    -11.19624: 'Acima de -10.5',
    -11.17321: 'Acima de -10.5',
    -11.12855: 'Acima de -10.5',
    -11.04561: 'Acima de -10.5',
    -10.93217: 'Acima de -10.5',
    -10.91553: 'Acima de -10.5',
    -10.88205: 'Acima de -10.5',
    -10.77388: 'Acima de -10.5',
    -10.72357: 'Acima de -10.5',
    -10.61207: 'Acima de -10.5',
    -10.56842: 'Acima de -10.5',
    -10.43595: 'Abaixo de -10.5',
    -10.43105: 'Abaixo de -10.5',
    -10.41177: 'Abaixo de -10.5',
    -10.33887: 'Abaixo de -10.5',
    -10.2631: 'Abaixo de -10.5',
    -10.24873: 'Abaixo de -10.5',
    -10.20981: 'Abaixo de -10.5',
    -9.90846: 'Abaixo de -10.5',
    -9.85139: 'Abaixo de -10.5',
    -9.71667: 'Abaixo de -10.5',
    -9.70554: 'Abaixo de -10.5',
    -9.42556: 'Abaixo de -10.5',
    -9.37819: 'Abaixo de -10.5',
    -9.19187: 'Abaixo de -10.5',
    -8.78502: 'Abaixo de -10.5',
    -8.76889: 'Abaixo de -10.5'
}

In [74]:
s = sinasc.set_index('munResLat')

In [75]:
s.groupby(Lat).sum()

                 IDADEMAE
munResLat
Abaixo de -10.5    365094
Acima de -10.5     340143

In [76]:
s.groupby(Lat).mean()

                  IDADEMAE
munResLat
Abaixo de -10.5  26.014964
Acima de -10.5   26.178943

In [77]:
s.groupby(Lat).min()

                 IDADEMAE
munResLat
Abaixo de -10.5        11
Acima de -10.5         12

In [78]:
s.groupby(Lat).median()

                 IDADEMAE
munResLat
Abaixo de -10.5      25.0
Acima de -10.5       26.0

### 2. Crie 2 faixas da área dos municípios (munResArea) sendo uma acima e outra abaixo de 3000 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [79]:
SINASC = sinasc_raw[['munResArea', 'IDADEPAI']].copy()

In [82]:
 c = SINASC.pivot_table(
             values='IDADEPAI',
             index=SINASC.munResArea,
             aggfunc='count',
             margins=True,
             margins_name='Total')
c

            IDADEPAI
munResArea
459.978           44
541.647           48
605.692           36
798.083           73
807.126           70
831.857          112
843.446           85
892.842           28
965.676           43
1191.875          84
1197.796          91
1314.352           6
1451.06           31
1457.888         835
1703.008          48
1717.64            1
1758.465         199
1931.378          28
1961.778           6
1969.85          373
2197.413          12
2548.683          38
2651.822           6
2783.3            72
2944.128         142
3029.189         103
3060.321          17
3135.106          15
3265.809          64
3442.005          30
3773.505          34
3792.998        1262
3863.943          10
3958.273         134
4081.583           8
4426.571          15
4518.035         318
4987.177          44
5067.384           9
5126.723          27
6014.733           5
6240.932         518
6843.868          19
6896.648        1036
7067.025         308
7460.219          81
8509.27          104
10071.643         39
10959.767         36
11518.915        170
24855.724         17
34096.394        672
Total           7607

In [83]:
Area = {
    459.978: 'Abaixo de 3.000',
    541.647: 'Abaixo de 3.000',
    605.692: 'Abaixo de 3.000',
    798.083: 'Abaixo de 3.000',
    807.126: 'Abaixo de 3.000',
    831.857: 'Abaixo de 3.000',
    843.446: 'Abaixo de 3.000',
    892.842: 'Abaixo de 3.000',
    965.676: 'Abaixo de 3.000',
    1191.875: 'Abaixo de 3.000',
    1197.796: 'Abaixo de 3.000',
    1314.352: 'Abaixo de 3.000',
    1451.06: 'Abaixo de 3.000',
    1457.888: 'Abaixo de 3.000',
    1703.008: 'Abaixo de 3.000',
    1717.64: 'Abaixo de 3.000',
    1758.465: 'Abaixo de 3.000',
    1931.378: 'Abaixo de 3.000',
    1961.778: 'Abaixo de 3.000',
    1969.85: 'Abaixo de 3.000',
    2197.413: 'Abaixo de 3.000',
    2548.683: 'Abaixo de 3.000',
    2651.822: 'Abaixo de 3.000',
    2783.3: 'Abaixo de 3.000',
    2944.128: 'Abaixo de 3.000',
    3029.189: 'Acima de 3.000',
    3060.321: 'Acima de 3.000',
    3135.106: 'Acima de 3.000',
    3265.809: 'Acima de 3.000',
    3442.005: 'Acima de 3.000',
    3773.505: 'Acima de 3.000',
    3792.998: 'Acima de 3.000',
    3863.943: 'Acima de 3.000',
    3958.273: 'Acima de 3.000',
    4081.583: 'Acima de 3.000',
    4426.571: 'Acima de 3.000',
    4518.035: 'Acima de 3.000',
    4987.177: 'Acima de 3.000',
    5067.384: 'Acima de 3.000',
    5126.723: 'Acima de 3.000',
    6014.733: 'Acima de 3.000',
    6240.932: 'Acima de 3.000',
    6843.868: 'Acima de 3.000',
    6896.648: 'Acima de 3.000',
    7067.025: 'Acima de 3.000',
    7460.219: 'Acima de 3.000',
    8509.27: 'Acima de 3.000',
    10071.643: 'Acima de 3.000',
    10959.767: 'Acima de 3.000',
    11518.915: 'Acima de 3.000',
    24855.724: 'Acima de 3.000',
    34096.394: 'Acima de 3.000'
}

In [85]:
c = SINASC.set_index('munResArea')

In [86]:
c.groupby(Area).sum()

                 IDADEPAI
munResArea
Abaixo de 3.000   78074.0
Acima de 3.000   158424.0

In [87]:
c.groupby(Area).mean()

                  IDADEPAI
munResArea
Abaixo de 3.000  31.092792
Acima de 3.000   31.094014

In [88]:
c.groupby(Area).min()

                 IDADEPAI
munResArea
Abaixo de 3.000      16.0
Acima de 3.000       15.0

In [89]:
c.groupby(Area).mean()

                  IDADEPAI
munResArea
Abaixo de 3.000  31.092792
Acima de 3.000   31.094014

In [90]:
c.groupby(Area).median()

                 IDADEPAI
munResArea
Abaixo de 3.000      30.0
Acima de 3.000       30.0

### 3. Determine faixas na variável munResAlt e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [93]:
sinasc_1 = sinasc_raw[['munResAlt', 'PESO']].copy()

In [94]:
a = sinasc_1.pivot_table(
                values='PESO',
                index=sinasc_1.munResAlt,
                aggfunc='count',
                margins=True,
                margins_name='Total')
a

            PESO
munResAlt
85.0         337
87.0        8437
99.0         109
111.0        205
124.0         50
128.0        226
133.0        781
139.0       1729
144.0        500
145.0        233
151.0        432
153.0        583
154.0         81
155.0        199
157.0       2182
158.0         93
161.0         75
163.0        881
166.0        303
170.0         40
177.0       1374
178.0        304
182.0        205
186.0        784
191.0        417
192.0         97
197.0        170
202.0        112
206.0        166
212.0        164
215.0         32
227.0        927
230.0         98
236.0         80
241.0        104
245.0         43
252.0        631
259.0        261
263.0        687
265.0         99
266.0         84
269.0        127
270.0         54
296.0         44
338.0        367
340.0        162
397.0        154
419.0        214
595.0       1590
Total      27028

In [102]:
Alt = {
    85.0: 'Abaixo de 195',
    87.0: 'Abaixo de 195',
    99.0: 'Abaixo de 195',
    111.0: 'Abaixo de 195',
    124.0: 'Abaixo de 195',
    128.0: 'Abaixo de 195',
    133.0: 'Abaixo de 195',
    139.0: 'Abaixo de 195',
    144.0: 'Abaixo de 195',
    145.0: 'Abaixo de 195',
    151.0: 'Abaixo de 195',
    153.0: 'Abaixo de 195',
    154.0: 'Abaixo de 195',
    155.0: 'Abaixo de 195',
    157.0: 'Abaixo de 195',
    158.0: 'Abaixo de 195',
    161.0: 'Abaixo de 195',
    163.0: 'Abaixo de 195',
    166.0: 'Abaixo de 195',
    170.0: 'Abaixo de 195',
    177.0: 'Abaixo de 195',
    178.0: 'Abaixo de 195',
    182.0: 'Abaixo de 195',
    186.0: 'Abaixo de 195',
    191.0: 'Abaixo de 195',
    192.0: 'Abaixo de 195',
    197.0: 'Acima de 195',
    202.0:'Acima de 195',
    206.0:'Acima de 195',
    212.0:'Acima de 195',
    215.0:'Acima de 195',
    227.0:'Acima de 195',
    230.0:'Acima de 195',
    236.0:'Acima de 195',
    241.0:'Acima de 195',
    245.0:'Acima de 195',
    252.0:'Acima de 195',
    259.0:'Abaixo de 300',
    263.0:'Abaixo de 300',
    265.0:'Abaixo de 300',
    266.0:'Abaixo de 300',
    269.0:'Abaixo de 300',
    270.0:'Abaixo de 300',
    296.0:'Abaixo de 300',
    338.0:'Acima de 300',
    340.0:'Acima de 300',
    397.0:'Acima de 300',
    419.0:'Acima de 300',
    595.0:'Acima de 300'
}

In [103]:
a = sinasc_1.set_index('munResAlt')

In [104]:
a.groupby(Alt).sum()

                   PESO
munResAlt
Abaixo de 195  67120033
Abaixo de 300   4338830
Acima de 195    8138091
Acima de 300    8056788

In [105]:
a.groupby(Alt).mean()

                      PESO
munResAlt
Abaixo de 195  3249.263349
Abaixo de 300  3199.727139
Acima de 195   3220.455481
Acima de 300   3239.560917

In [106]:
a.groupby(Alt).min()

               PESO
munResAlt
Abaixo de 195   292
Abaixo de 300   355
Acima de 195    285
Acima de 300    258

In [107]:
a.groupby(Alt).median()

                 PESO
munResAlt
Abaixo de 195  3275.0
Abaixo de 300  3250.0
Acima de 195   3250.0
Acima de 300   3280.0

### 4. Plote no mesmo grafico ao longo do tempo a idade media das mulheres de cada regiao imediatas de rondonia
https://pt.wikipedia.org/wiki/Lista_de_regi%C3%B5es_geogr%C3%A1ficas_intermedi%C3%A1rias_e_imediatas_de_Rond%C3%B4nia

In [6]:
imediatas = {
    "Candeias do Jamari": "Porto Velho",
    "Guajara-Mirim": "Porto Velho",
    "Itapuã do Oeste": "Porto Velho",
    "Nova Mamoré": "Porto Velho",
    "Porto Velho": "Porto Velho",
    "Alto Paraiso": "Ariquemes",
    "Ariquemes" : "Ariquemes",
    "Buritis": "Ariquemes",
    "Cacaulãndia": "Ariquemes",
    "Campo Novo de Rondônia": "Ariquemes",
    "Cujubim": "Ariquemes",
    "Monte Negro": "Ariquemes",
    "Rio Crespo": "Ariquemes",
    "Governador Jorge Teixeira": "Jaru",
    "Jaru": "Jaru",
    "Machadinho d' Oeste": "Jaru",
    "Theobroma": "Jaru",
    "Vale do Anari": "Jaru",
    "Alvorada d'Oeste": "Ji-Paraná",
    "Costa Marques": "Ji-Paraná",
    "Ji-Paraná": "Ji-Paraná",
    "Mirante da Serra": "Ji-Paraná",
    "Nova União": "Ji-Paraná",
    "Ouro Preto do Oeste": "Ji-Paraná",
    "Presidente Médici": "Ji-Paraná",
    "São Francisco do Guaporé": "Ji-Paraná",
    "São Miguel do Guaporé": "Ji-Paraná",
    "Seringueiras": "Ji-Paraná",
    "Teixeirópolis": "Ji-Paraná",
    "Urupá": "Ji-Paraná",
    "Vale do Paraíso": "Ji-Paraná",
    "Alta Floresta d'Oeste": "Cacoal",
    "Alto Alegre dos Parecis": "Cacoal",
   "Cacoal": "Cacoal",
   "Castanheiras": "Cacoal",
   "Espigão d'Oeste": "Cacoal",
   "Ministro Andreazza": "Cacoal",
   "Nova Brasilândia d'Oeste": "Cacoal",
   "Novo Horizonte do Oeste": "Cacoal",
   "Parecis": "Cacoal",
   "Pimenta Bueno": "Cacoal",
   "Primavera de Rondônia": "Cacoal",
   "Rolim de Moura": "Cacoal",
   "Santa Luzia d'Oeste": "Cacoal",
   "São Felipe d'Oeste": "Cacoal",
    "Cabixi": "Vilhena",
   "Cerejeiras": "Vilhena",
    "Chupinguaia": "Vilhena",
   "Colorado do Oeste": "Vilhena",
   "Corumbiara": "Vilhena",
   "Pimenteiras do Oeste": "Vilhena",
   "Vilhena": "Vilhena"
}

In [7]:
sinasc_raw = sinasc_raw.set_index('munResNome')

In [8]:
sinasc_raw.groupby(imediatas).count()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,PARIDADE,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResUf,munResLat,munResLon,munResAlt,munResArea
munResNome,,,,,,,,,,,,,,,,,,,,,
Ariquemes,2932,2918,2932,2932,2932,2883,2909,2804,2685,2478,...,2932,2932,2932,2932,2932,2932,2932,2932,2932,2932
Cacoal,3372,3367,3372,3372,3372,3349,3353,2735,3348,3337,...,3372,3372,3372,3372,3372,3372,3372,3372,3372,3372
Jaru,1183,1180,1183,1183,1183,1173,1174,1123,1169,1168,...,1183,1183,1183,1183,1183,1183,1183,1183,1183,1183
Ji-Paraná,4757,4749,4757,4757,4757,4696,4712,4350,4723,4709,...,4757,4757,4757,4757,4757,4757,4757,4757,4757,4757
Porto Velho,9315,9268,9315,9315,9315,9182,9137,8277,8117,7852,...,9315,9315,9315,9315,9315,9315,9315,9315,9315,9315
Vilhena,2450,2435,2450,2450,2450,2444,2437,2230,2437,2433,...,2450,2450,2450,2450,2450,2450,2450,2450,2450,2450

### 5. Utilize a tabela do link abaixo e crie faixas utilizando o mapping e gere agrupamentos utilizando essas faixas como chave

### 5.1 IDH
A - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IDH-M

In [9]:
IDH = {
    "Porto Velho": "IDH-M alto",
    "Vilhena": "IDH-M alto",
    "Cacoal": "IDH-M alto",
    "Ji-Paraná": "IDH-M alto",
    "Pimenta Bueno": "IDH-M alto",
    "Ariquemes": "IDH-M alto",
    "Rolim de Moura": "IDH-M alto",
    "Cerejeiras": "IDH-M médio",
    "Jaru": "IDH-M médio",
    "Colorado do Oeste": "IDH-M médio",
    "Ouro Preto do Oeste": "IDH-M médio",
    "Espigão d'Oeste": "IDH-M médio",
    "Santa Luiza d'Oeste": "IDH-M médio",
    "Pimenteiras do Oeste": "IDH-M médio",
    "Presidente Mêdici": "IDH-M médio",
    "Castanheiras": "IDH-M médio",
    "Guajará-Mirim": "IDH-M médio",
     "Chupinguaia": "IDH-M médio",
    "Cabixi": "IDH-M médio",
    "Candeias do Jamari": "IDH-M médio",
    "São Felipe d'Oeste": "IDH-M médio",
    "Cacaulândia": "IDH-M médio",
    "São Miguel do Guaporé": "IDH-M médio",
    "Mirante da Serra": "IDH-M médio",
    "Alvorada d'Oeste": "IDH-M médio",
    "Teixeirópolis": "IDH-M médio",
    "Nova Brasilândia d'Oeste": "IDH-M médio",
    "Rio Crespo":"IDH-M médio",
    "Primavera de Rondônia": "IDH-M médio",
    "Alta Floresta d'Oeste": "IDH-M médio",
    "Ministro Adreazza": "IDH-M médio",
    "Novo Horizonte do Oeste": "IDH-M médio",
    "Vale do Paraiso": "IDH-M médio",
    "Alto Paraiso": "IDH-M médio",
    "Parecis": "IDH-M médio",
    "Buritis": "IDH-M médio",
    "Itapuã do Oeste": "IDH-M médio",
    "Corumbiara": "IDH-M médio",
    "Cujubim": "IDH-M médio",
    "Costa Marques": "IDH-M médio",
    "São Franscisco do Guaporé": "IDH-M médio",
    "Urupá": "IDH-M médio",
    "Monte Negro": "IDH-M médio",
    "Seringueiras": "IDH-M baixo",
    "Governador Jorge Teixeira": "IDH-M baixo",
    "Machadinho d'Oeste": "IDH-M baixo",
    "Campo Novo de Rondônia": "IDH-M baixo",
    "Alto Alegre dos Parecis": "IDH-M baixo",
    "Theobroma": "IDH-M baixo",
    "Nova União": "IDH-M baixo",
    "Nova Mamoré": "IDH-M baixo",
    "Vale do Anari": "IDH-M baixo"
}

In [12]:
sinasc_raw = sinasc_raw.set_index('munResNome')

In [13]:
sinasc_raw.groupby(IDH).count()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,PARIDADE,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResUf,munResLat,munResLon,munResAlt,munResArea
munResNome,,,,,,,,,,,,,,,,,,,,,
IDH-M alto,16855,16799,16855,16855,16855,16646,16632,15110,15695,15428,...,16855,16855,16855,16855,16855,16855,16855,16855,16855,16855
IDH-M baixo,1326,1315,1326,1326,1326,1312,1313,1200,1244,1207,...,1326,1326,1326,1326,1326,1326,1326,1326,1326,1326
IDH-M médio,5912,5870,5912,5912,5912,5854,5861,5269,5619,5420,...,5912,5912,5912,5912,5912,5912,5912,5912,5912,5912

### 5.2 IFDM 
B - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IFDM

In [14]:
IFDM = {
 "Ariquemes": "Desenvolvimento moderado", 
 "Vilhena": "Desenvolvimento moderado",
 "Pimenta Bueno": "Desenvolvimento moderado",
 "Porto Velho": "Desenvolvimento moderado",
 "Ji-Paraná": "Desenvolvimento moderado",
 "Cacoal": "Desenvolvimento moderado",
 "Santa Luzia d'Oeste": "Desenvolvimento moderado",
 "Rolim de Moura": "Desenvolvimento moderado",
 "Chupinguaia": "Desenvolvimento moderado",
 "São Miguel do Guaporé": "Desenvolvimento moderado",
 "Pimenteiras do Oeste": "Desenvolvimento moderado",
 "Teixeirópolis": "Desenvolvimento moderado",
 "Colorado do Oeste": "Desenvolvimento moderado",
 "Jaru": "Desenvolvimento moderado",
 "Rio Crespo": "Desenvolvimento moderado",
 "Primavera de Rôndonia": "Desenvolvimento moderado",
 "Alta Floresta d'Oeste": "Desenvolvimento moderado",
 "Ouro Preto do Oeste": "Desenvolvimento moderado",
 "São Francisco do Guaporé": "Desenvolvimento moderado", 
 "Candeias do Jamari": "Desenvolvimento moderado",
 "Buritis": "Desenvolvimento moderado",
 "São Felipe d'Oeste": "Desenvolvimento moderado",
 "Presidente Médici": "Desenvolvimento moderado",
 "Cerejeiras": "Desenvolvimento moderado",
 "Monte Negro": "Desenvolvimento moderado",
 "Urupá": "Desenvolvimento moderado", 
  "Espigão d'Oeste": "Desenvolvimento regular",
  "Seringueiras": "Desenvolvimento regular",
  "Alvorada d'Oeste": "Desenvolvimento regular",
  "Itapuã do Oeste": "Desenvolvimento regular",
  "Cabixi": "Desenvolvimento regular",
  "Novo Horizonte do Oeste": "Desenvolvimento regular",
  "Nova Brasilândia d'Oeste": "Desenvolvimento regular",
  "Vale do Paraíso": "Desenvolvimento regular",
  "Corumbiara": "Desenvolvimento regular",
  "Alto Paraíso": "Desenvolvimento regular",
  "Cacaulândia": "Desenvolvimento regular",
  "Vale do Anari": "Desenvolvimento regular",
  "Ministro Andreazza": "Desenvolvimento regular",
  "Costa Marques": "Desenvolvimento regular",
  "Nova União": "Desenvolvimento regular",
  "Guajará-Mirim": "Desenvolvimento regular",
  "Mirante da Serra": "Desenvolvimento regular",
  "Parecis": "Desenvolvimento regular",
  "Castanheiras": "Desenvolvimento regular",
  "Theobroma": "Desenvolvimento regular",
  "Machadinho d'Oeste": "Desenvolvimento regular",
  "Campo Novo de Rondônia": "Desenvolvimento regular",
   "Nova Mamoré": "Desenvolvimento regular",
   "Cujubim": "Desenvolvimento regular",
   "Alto Alegre dos Parecis": "Desenvolvimento regular",
    "Governador Jorge Teixeira": "Desenvolvimento regular"  
}

In [18]:
sinasc_raw = sinasc_raw.set_index('munResNome')

In [19]:
sinasc_raw.groupby(IFDM).count()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,PARIDADE,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResUf,munResLat,munResLon,munResAlt,munResArea
munResNome,,,,,,,,,,,,,,,,,,,,,
Desenvolvimento moderado,21383,21309,21383,21383,21383,21135,21118,19184,19957,19500,...,21383,21383,21383,21383,21383,21383,21383,21383,21383,21383
Desenvolvimento regular,3665,3629,3665,3665,3665,3624,3637,3294,3544,3491,...,3665,3665,3665,3665,3665,3665,3665,3665,3665,3665

### 5.3 PIB
C - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_PIB

In [20]:
PIB = {
    "Porto Velho": "Acima de 1 Bilhão",
    "Ji-Paraná": "Acima de 1 Bilhão",
    "Vilhena": "Acima de 1 Bilhão",
    "Ariquemes": "Acima de 1 Bilhão",
     "Cacoal" : "Acima de 1 Bilhão",
     "Jaru" : "Acima de 1 Bilhão",
    "Rolim de Moura": "Acima de 1 Bilhão",
    "Pimenta Bueno": "Acima de 1 Bilhão",
    "Guajará-Mirim": "Acima de 500 Milhões",
    "Ouro Preto do Oeste": "Acima de 500 Milhões",
    "Buritis": "Acima de 500 Milhões",
    "Machadinho do Oeste": "Acima de 500 Milhões",
    "Espigão d'Oeste": "Acima de 500 Milhões",
    "São Miguel do Guaporé": "Acima de 500 Milhões",
    "Candeias do Jamari": "Acima de 500 Milhões",
    "Nova Mamoré": "Acima de 500 Milhões",
    "Cerejeiras": "Acima de 500 Milhões",
    "Monte Negro": "Acima de 200 Milhões",
    "Alto alegre dos Parecis": "Acima de 200 Milhões",
    "Campo Novo de Rondônia": "Acima de 200 Milhões",
    "Alvorada do Oeste": "Acima de 200 Milhões",
    "Chupinguaia": "Acima de 100 Milhões",
    "Corumbiara": "Acima de 100 Milhões",
    "Ministro Andreazza": "Acima de 100 Milhões",
    "Urupá": "Acima de 100 Milhões",
    "Costa Marques": "Acima de 100 Milhões",
    "Seringueiras": "Acima de 100 Milhões",
    "Mirante da Serra": "Acima de 100 Milhões",
    "Governador Jorge Teixeira": "Acima de 100 Milhões",
    "Theobroma": "Acima de 100 Milhões",
    "Santa Luiza do Oeste": "Acima de 100 Milhões",
    "Novo Horizonte do Oeste": "Acima de 100 Milhões",
    "Itapuã do Oeste": "Acima de 100 Milhões",
    "Vale do Paraiso": "Acima de 100 Milhões",
    "Cacaulãndia": "Acima de 100 Milhões",
    "Cabixi": "Acima de 100 Milhões",
    "Vale do Anari": "Acima de 100 Milhões",
    "Nova União": "Até 100 Milhões",
    "Parecis": "Até 100 Milhões",
    "Rio Crespo": "Até 100 Milhões",
    "Pimenteiras do Oeste": "Até 100 Milhões",
    "Teixeirópolis": "Até 100 Milhões",
    "São felipe do Oeste": "Até 100 Milhões",
    "Castanheiras": "Até 100 Milhões",
    "Primavera de Rondônia": "Até 100 Milhões"
}

In [22]:
sinasc_raw = sinasc_raw.set_index('munResNome')

In [23]:
sinasc_raw.groupby(PIB).count()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,PARIDADE,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResUf,munResLat,munResLon,munResAlt,munResArea
munResNome,,,,,,,,,,,,,,,,,,,,,
Acima de 1 Bilhão,17736,17678,17736,17736,17736,17520,17508,15942,16569,16301,...,17736,17736,17736,17736,17736,17736,17736,17736,17736,17736
Acima de 100 Milhões,1697,1688,1697,1697,1697,1674,1681,1496,1669,1665,...,1697,1697,1697,1697,1697,1697,1697,1697,1697,1697
Acima de 200 Milhões,365,363,365,365,365,358,352,350,323,298,...,365,365,365,365,365,365,365,365,365,365
Acima de 500 Milhões,3354,3318,3354,3354,3354,3333,3333,2946,3065,2866,...,3354,3354,3354,3354,3354,3354,3354,3354,3354,3354
Até 100 Milhões,377,376,377,377,377,372,375,310,372,371,...,377,377,377,377,377,377,377,377,377,377

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados.

In [2]:
print('Percebi que em lugares onde se tem bom desenvolvimento seja humano ou municipal e com PIB alto, foram os lugares onde nasceram mais crianças em 2019.')

Percebi que em lugares onde se tem bom desenvolvimento seja humano ou municipal e com PIB alto, foram os lugares onde nasceram mais crianças em 2019

In [3]:
print('É a idade das mães vem em maioria de Porto Velho, cidade na qual tem um PIB alto, um IFDM e IDH alto.')

É a idade das mães vem em maioria de Porto Velho, cidade na qual tem um PIB alto, um IFDM e IDH alto.

In [6]:
print('Portanto conclui que cidades que tenham uma economia boa é um bom desenvolvimento serão mais propicias a ter maior nascimento de crianças.')

Portanto conclui que cidades que tenham uma economia boa é um bom desenvolvimento serão mais propicias a ter maior nascimento de crianças.